html, #background {
    background-color: #f7f7f7;
    background-image: url("../res/bg.png");    
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#wrapper {
    max-width: 1200px;
    min-height: 800px;
    padding: 0;
    margin: auto;
    background-color: #fff; 
    border-radius: 25px;
    box-shadow: 10px 10px 18px #000;
    border: 1px solid #000;
}

#header h1, #header h2{
    text-align: center;
}

#body, #header {
    margin: 0;    
    padding: 10px;
}

#body {
    display: none;
}