 

/* Inputs */

#inputsWrapper {
    padding: 20px;
}

#inputsWrapper > input {
    width: 30%;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
}    

#t {
    float: right;
}

#runButton {
    border: 0;
    margin: 50px 35%;
    background-color: #d35ada;
    color: #fff;
}

#runButton:hover {
    background-color: #ad22b4;
}
 
/* End of Inputs */

.pinkButton {
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    height: 40px;
    margin: 20px 9%;
    border-radius: 10px;
    border: 0;
    background-color: #d35ada;
    color: #fff;
}

.pinkButton:hover {
    background-color: #ad22b4;
}

#animationPrevButton {
    width: 15%;
    margin-top: 10px;
    margin-left: 32%;
    margin-bottom: 10px;
    margin-right: 10px;
}

#animationNextButton {
    width: 15%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 32%;
}

.map {
    margin: auto;
    height: 600px;
}

